/* src/pages/styles/Home.css */
.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: transparent;
    /* Fondo transparente */
    color: #00aaff;
    /* Texto azul */
    position: relative;
    overflow: hidden;
}

.home-content {
    text-align: center;
    position: relative;
    z-index: 1;
}

.h1home {
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}

.p1home {
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}