/* src/components/styles/BottomNav.css */
.bottomnav-custom-menubar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    /* Fondo negro */
    border-top: 1px solid #2a2a2a;
    /* Línea superior */
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomnav-custom-menubar-root {
    justify-content: center;
    background-color: #000000 !important;
    /* Fondo negro */
}

.bottomnav-custom-menubar-menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #000000;
    /* Fondo negro */
}

.bottomnav-custom-menubar-menuitem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
}

.bottomnav-custom-menubar-action {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00aaff !important;
    /* Texto azul */
    text-decoration: none;
    padding: 1rem;
    border-radius: 8px;
}

.bottomnav-custom-menubar-action:hover {
    background-color: #00aaff !important;
    /* Fondo azul al pasar el ratón */
    color: #000000 !important;
    /* Texto negro al pasar el ratón */
}

.bottomnav-custom-menubar-icon {
    color: #00aaff !important;
    /* Iconos azules */
    font-size: 1.5em;
}

.bottomnav-custom-menubar-action:hover .bottomnav-custom-menubar-icon {
    color: #000000 !important;
    /* Iconos negros al pasar el ratón */
}