/* src/components/Footer.css */
.footer {
    background: #000000;
    /* Fondo negro */
    color: #00aaff;
    /* Texto azul */
    text-align: center;
    padding: 1rem;
    border-top: 1px solid #2a2a2a;
}

/* Aplicar el margen inferior solo en dispositivos m贸viles */
@media (max-width: 960px) {
    .footer {
        margin-bottom: 60px;
    }
}

.footer-panel {
    background: transparent;
    /* Fondo transparente */
    border: none;
    /* Sin borde */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin: 0.5rem 0;
    /* Ajuste de margen */
}

.social-links {
    margin-top: 0.5rem;
}

.social-links .p-button {
    margin: 0 0.5rem;
    color: #00aaff;
    /* Texto de botones azul */
    border-color: #00aaff;
    /* Borde de botones azul */
}

.social-links .p-button:hover {
    background-color: #00aaff;
    /* Fondo azul al pasar el rat贸n */
    color: #000000;
    /* Texto negro al pasar el rat贸n */
}

.social-links .pi {
    color: #00aaff;
    /* Iconos azules */
}

.social-links .p-button:hover .pi {
    color: #000000;
    /* Iconos negros al pasar el rat贸n */
}