/* src/components/styles/Header.css */
.header-custom-menubar {
    background-color: #000000;
    border: none;
}

.p-menuitem-text {
    color: #ffffff;
}

.header-custom-menubar-root {
    background-color: #000000 !important;
}

.header-custom-menubar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-custom-menubar-menuitem {
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
}

.header-menuitem-text {
    color: #ffffff;
}

.header-custom-menubar-action {
    color: #ffffff !important;
    text-decoration: none;
    padding: 1rem;
    border-radius: 8px;
}

.header-custom-menubar-action:hover {
    background-color: #00aaff !important;
    color: #000000 !important;
    border-radius: 8px;
}

.header-custom-menubar-icon {
    color: #00aaff !important;
}

.header-custom-menubar-action:hover .header-custom-menubar-icon {
    color: #000000 !important;
}