/* src/components/styles/MyButton.css */
.custom-button {
    background-color: #000000 !important;
    /* Fondo negro */
    color: #ffffff !important;
    /* Texto blanco */
    border: 2px solid #00aaff !important;
    /* Borde azul */
    border-radius: 8px !important;
    /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.custom-button .pi {
    color: #00aaff !important;
    /* Iconos azules */
}

.custom-button:hover {
    background-color: #00aaff !important;
    /* Fondo azul al pasar el ratón */
    color: #000000 !important;
    /* Texto negro al pasar el ratón */
    border-color: #000000 !important;
    /* Borde negro al pasar el ratón */
}

.custom-button:hover .pi {
    color: #000000 !important;
    /* Iconos negros al pasar el ratón */
}