/* src/components/styles/ProjectCard.css */
.project-card {
    margin: 1rem;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    background-color: #1a1a1a;
    /* Fondo gris oscuro */
    color: #ffffff;
    /* Texto blanco */
    box-shadow: 0 4px 8px rgba(0, 170, 255, 0.2);
    /* Sombra azul */
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 170, 255, 0.3);
    /* Sombra azul más intensa */
}

.project-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-card-button {
    background-color: #00aaff;
    /* Botón azul */
    border: none;
    color: #ffffff;
    /* Texto blanco */
    border-radius: 4px;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.project-card-button:hover {
    background-color: #ffffff;
    /* Fondo blanco al pasar el ratón */
    color: #00aaff;
    /* Texto azul al pasar el ratón */
}